global-reset()

@import "common/*"
@import "mixins/*"

nav_short()

.container
	center()
	.top-area
		padding 30px 1% 15px 1%
		.all, .tag
			badge(red)
			margin-right:20px
			height:30px
			line-height:30px
		.active
			background-color:#DA3205
			font-weight:500
	.packages
		center()
		clearfix()
		margin-bottom:50px
		.package-info
			package-info(true)
			float:left

@media (min-width: 0px)
	.container
		width:100%
	.packages
		.package-info
			width:100%
			margin:2% 0%
			float:left

@media (min-width: 700px)
	.container
		width:95%
	.packages
		.package-info
			width:47%
			margin:1.5%
			float:left


@media (min-width: 1100px)
	.container
		width:95%
	.packages
		.package-info
			width:31.3%
			margin:1%
			float:left
	
