global-reset()

@import "common/*"
@import "mixins/*"


.container
  center() 
  width:60%
  margin-top:50px
  background-color:#ffffff
  box-shadow:card_shadow 
  text-align:center
  .status-code
    font-size:36px
    height:80px
    line-height:80px
    border-bottom:1px solid #d0d7dd
  .message
    word-wrap: break-word
    font-size:22px
    color:grey
    padding: 50px 60px 20px 60px
    background-color:#efefef
    height:260px
    line-height:2em
    overflow: hidden


