global-reset()

@import "common/*"
@import "mixins/*"


a
	color:blue

.container
	clearfix()
	margin-top:30px
	margin-bottom:30px
	center()
	width:90%
	.area
		margin:1%

.main
	float:left
	width:68%
	background-color:#ffffff
	padding:0px 25px
	box-shadow:card_shadow
	margin:0 1%

.aside
	float:left
	width:28%
	background-color:#ffffff
	margin:0 1%
	.anchor
		height:50px	
		border-bottom:1px solid #efefef
		color:grey
		padding:0px 20px
		line-height:50px
		font-size:18px
		border-left:5px solid #fff
		&.cur
			border-left-color: red
		&:last-child
			border-bottom:none


