global-reset()

@import "common/*"
@import "mixins/*"

.nav
  .bg
    background-position: 0 -60px

.banner
  image:"../img/slogan-bg.png"
  height:420px
  position:relative
  background-color:#02060e
  background-position:center -60px
  .brands
    float: left
    width: 400px
    position: relative
    clearfix()
    .logo-large
      display:block
      margin: 40px auto 30px auto
    .slogan
      margin-top: 30px
      font-size:24px
      line-height:1.2
      font-weight:100
      color:#ffffff
      text-align:center
  .form
    width: 300px
    float: right
    padding-top: 50px
    .form-control
      display: block
      margin-bottom: 10px
      padding: 12px 10px
      zoom: 1
      border-radius: 5px
      border: 1px solid #ccc
      width: 100%
      box-sizing: border-box
      font-size: 16px
      font-weight: 100
    .signin
      background-image: linear-gradient(#39d, #369)
      color: #fff
      border: 1px solid #369
      cursor: pointer
      font-weight: 200
      &:hover
        background-image: linear-gradient(#4ae, #369)
    .signin-github
      font-weight: 200
      background-image: linear-gradient(#79d858, #569e3d)
      color: #fff
      border: 1px solid #4a993e
      text-align: center
      letter-spacing: 1px
      &:hover
        background-image: linear-gradient(#8e6, #569e3d)
      .socicon-github
        margin-right: 10px

.main-content
  center()
  padding:25px 0px
  clearfix()
  .info-panel
    user-info()
    height: 430px
    float:left
    ul
      font-family:Titillium Web
      color:#777777
      font-size:17px
      line-height:40px
      li
        border-bottom:1px solid #d0d7dd
        height:40px
        &:nth-child(odd)
          background-color:#f0f1f5
        &:nth-child(even)
          background-color:#e9eaee
        a
          display: block
          clearfix()
          &:hover .title
            text-decoration: underline
        .title
          display:inline-block
          float:left
          padding-left:30px
          max-width:60%
          overflow:hidden
        .detail
          font-size:15px
          display:inline-block
          float:right
          padding-right:30px
          overflow:hidden
          color:light_grey

@media (min-width: 0px)
  .main-content
    width:100%
    .info-panel
      width:100%
      margin:4% 0%

@media (min-width: 600px)
  .main-content
    width:95%
    .info-panel
      width:47%
      margin:1.5%

@media (min-width: 1000px)
  .main-content
    width:95%
    .info-panel
      width:30.3%
      margin:1.5%

