global-reset()

@import "common/*"
@import "mixins/*"

nav_short()

.container
  center()
  width:60%
  margin-top:50px
  background-color:#ffffff
  box-shadow:card_shadow 
  text-align:center
  .status-code
    font-size:36px
    height:80px
    line-height:80px
    border-bottom:1px solid #d0d7dd
  .message
    font-size:22px
    color:grey
    background-color:#efefef
    height:60px
    line-height:60px
