global-reset()

@import "common/*"
@import "mixins/*"

nav_short()

.container
  center()
  width:40%
  height:400px
  margin-top:50px
  box-shadow:card_shadow 
  background-color:#ffffff
  text-align:center
  .message
    font-size:22px
    height:80px
    line-height:100px
  .login
    clearfix()
    .row
      width:50%
      margin:20px 20px
      center()
      clearfix()
    input 
      color:grey
      width:100%
      height:40px
      background-color:#ffffff
      border:solid 1px grey
      padding:0px 10px
      font-size:16px
    button
      badge(red)
      border:none
      width:48%
    button.signin
      float:left
    button.reset
      float:right
    .github
      padding-top:20px
      font-size:18px
      a
        color:#555555
