global-reset()

@import "common/*"
@import "mixins/*"

nav_short()


.container
  center()
  width:400px
  height:360px
  margin:30px auto
  box-shadow:card_shadow 
  background-color:#ffffff
  text-align:center
  .message
    font-size:22px
    height:80px
    line-height:100px
  .login
    clearfix()
    form.form
      padding:10px 30px
      .signin
        form-button(#000, #efefef, #fdfdfd, #d3d3d3)
      .github
        form-button(#000, #79d858, #8e6, #d3d3d3)
        .socicon-github
          margin-right: 10px




@media (min-width: 0px) and (max-width: 700px)
  .container
    width:100%
    min-width:300px

@media (min-width: 700px)
  .container
    width:400px

@media (min-width: 1000px)
  .container
    width: 400px