global-reset()

@import "common/*"
@import "mixins/*"

.container
	.top-area
		height:90px
		padding 30px 0px
		.info
			badge(green)
		select.versions
			margin-left:20px
		span.info-box
			margin-left:16px
			
	.detail
		margin-bottom:50px
		padding-top:10px
		center()
		.card
			margin-bottom:26px
		.row
			clearfix()
		.package-stat
			package-stat(100%)
		.command
			command(100%)
		.maintainers
			maintainers(100%)
			.body
				height:90px
		.dependency-info
			width:100%
			.tabs
				height:70px
				clearfix()
				.tab
					font-size:14px
					float:left
					background-color:#eae9e9
					color:#acb3bf
					line-height:70px
					padding:0px 25px	
					border-right:1px solid #e5e4e4
					&:last-child
						border-right:none
					&:hover
						background-color:#ffffff
				.active
					background-color:#ffffff
			.content
				overflow:scroll
				height:342px
				background-color:#ffffff
				box-shadow:card_shadow
				table
					width:100%
		.readme
			center()
			readme(98%)


@media (min-width: 0px)
	.row
		padding:0 0%
	.col
		float:none
		width:100%
	.card 
		width:100%
	.container
		.detail
			width:100%
			.readme
				width:100%
				margin:0

@media (min-width: 860px)
	.row
		padding:0 1%
	.col
		float:left
		width:48%
		margin:0% 1%
	.container
		.detail
			width:95%
			.readme
				width:98%
				center()



	
