global-reset()

@import "common/*"
@import "mixins/*"

nav_short()

.container
  .top-area
    height:90px
    padding 30px 0px
    .info
      badge(red)
      font-weight:100
      .keyword
        margin-left:5px
        font-family:Titillium Web
        font-weight:400
        font-size:20px
  .packages
    center()
    clearfix()
    margin-bottom:50px
    .package-info
      package-info(true)
      float:left

@media (min-width: 0px)
  .packages
    width:100%
    .package-info
      width:100%
      margin:2% 0%
      float:left

@media (min-width: 700px)
  .packages
    width:95%
    .package-info
      width:48%
      margin:1%
      float:left

  
