global-reset()

@import "common/*"
@import "mixins/*"

nav_short()



.container
	center()
	clearfix()
	margin-top:30px
	margin-bottom:50px
	width:90%
	.area
		margin:1%

.main
	float:left
	width:68%
	background-color:#ffffff
	padding:0px 25px
	box-shadow:card_shadow

.aside
	float:left
	width:28%
	.user
		user()
		margin-bottom:20px
		height:200px
		padding-top:10px
		img.avatar
			margin-top:16px
			cycle(80px)
		.username
			display:none
		.info-area
			margin-top:20px
			.item
				.content
					font-size:24px
				.title
					font-size:10px
	.recommendation
		maintainers()
	.my-packages
		user-info()
		height:410px
		.content
			overflow:scroll
			height:300px
	.info-panel
		margin-bottom:20px


.event
	border-bottom:1px solid #efefef
	padding:18px 0px
	position:relative
	clearfix()
	a
		color:blue
	&:last-child
		border-bottom:none
	.user
		float:left
		.avatar
			cycle(50px)
	.content
		float:left
		margin-left:15px
		.detail
			line-height:25px
			font-size:17px
		.bottom
			color:grey
			margin-top:6px
			font-size:10px
			.tag
				vertical-align:bottom
				display:inline-block
				background-color:red
				color:#ffffff
				font-size:10px
				height:16px
				line-height:16px
				padding:0px 6px
				margin-right:10px
			.username
				margin-left:10px
			.date
				font-size:14px
				color:light_grey





	
