global-reset()

@import "common/*"
@import "mixins/*"

nav_short()

.container
  width:95%
  center()
  .command
    command()
  .user-area
    margin-top:20px
    center()
    clearfix()
    .user
      user()
    .user-info
      user-info()
    .command
      width: 98%
      .copy-button
        opacity: 0.95
        position: absolute
        top: 0px
        right: 0px
        background: url("../img/icon-copy.png") 6px 12px no-repeat
        background-size: 26px 26px
        width: 40px
        height: 50px
        cursor: pointer
        background-color:#ffffff
        color: #000
      .txt
        position: relative
        padding-right: 50px
        text-overflow: ellipsis
        white-space: nowrap
        overflow:hidden
    .card
      float:left
  .packages
    center()
    clearfix()
    margin-bottom:50px
    .package-info
      package-info(false)
      float:left

@media (min-width: 0px)
  .container
    width:100%
    .user-area
      .card
        width:100%
        margin:2% 0%
    .packages
      .package-info
        width:100%
        margin:2% 0%
        float:left
  

@media (min-width: 850px)
  .container
    width:95%
    .user-area
      .card
        width:48%
        margin:1%
      .command
        width: 98%
    .packages
      .package-info
        width:48%
        margin:1%
        float:left

@media (min-width: 1100px)
  .container
    width:95%
    .packages
      .package-info
        width:31.3%
        margin:1%
        float:left
  
