
red = #e87b5e
green = #07c2af
yello = #f0d250
blue = #2aacd0
grey = #6d6d6d
light_grey =#C6C6C6

nav_shadow = 0 2px 5px rgba(0, 0, 0, .2)
nav_height = 60px
nav_bg = rgba(255,255,255,.9)

card_shadow = 0 2px 2px rgba(0, 0, 0, .2)

font_family = "Helvetica Neue", arial, sans-serif

* 
  box-sizing:border-box

body
  font-family: font_family
  font-weight:300
  // letter-spacing:1px
  image:"../img/bg.png"
  position:relative
  padding-bottom:60px
a
  cursor:pointer
  text-decoration: none
  color:grey
  
input
  appearance:none
  outline:none

select
  font-family: Titillium Web
  position:relative
  outline:none
  appearance:none
  border:none
  height:30px
  line-height:30px
  font-weight:400
  font-size:18px
  border-radius:0px
  padding:0px 26px 0px 12px  
  color:#bac0cb  
  background : #ffffff no-repeat right 8px center
  image:"../img/arrow.png"
  letter-spacing:2px
  box-shadow:card_shadow

.info-box
  display:inline-block
  height:30px
  line-height:30px
  font-size:16px
  padding:0px 12px
  background-color:#ffffff
  color:#bac0cb
  letter-spacing:2px
  box-shadow:card_shadow

table
  background-color:#ffffff
  padding 0px
  font-size:15px
  thead
    tr
      background-color:#e9eaee
  tbody
    font-family:Titillium Web
    tr
      &:nth-child(odd)
        background-color:#f0f1f5
      &:nth-child(even)
        background-color:#e9eaee
  tr
    height:40px
    th
      border-top:1px solid #d0d7dd
      border-bottom:1px solid #d0d7dd
      color:#919bad
      padding:0px 30px
    td
      font-weight:300
      border-bottom:1px solid #d0d7dd
      color:#777777
      padding:0px 30px


.color-red
  color:red

.color-blue
  color:blue

.color-yello
  color:yello

.color-green
  color:green

.hide
  display:none

$icon
  position:absolute
  content:""
  width:26px
  height:26px

.icon-like
  &:before
    @extends $icon
    image:"../img/icon-like.png"

.icon-home
  &:before
    @extends $icon
    image:"../img/icon-home.png"

.icon-issue
  &:before
    @extends $icon
    image:"../img/icon-issue.png"

.footer
  position:absolute
  bottom:0px
  background-color:rgba(255,255,255,0.8)
  padding:0px 20px
  height:60px
  width:100%
  color:grey
  border-top:1px solid light_grey
  .item
    display:inline-block
    margin:0px 10px
    line-height:60px
  .github
    position:absolute
    left:50%
    top:50%
    image:"../img/github.png"
    float:right
    width:26px
    height:26px
    margin-left:-13px
    margin-top:-13px
  .pull-right
    float:right


