
red = #e87b5e
green = #07c2af
yello = #f0d250
blue = #2aacd0

nav_shadow = 0 2px 5px rgba(0, 0, 0, .2)
nav_height = 60px
nav_bg = rgba(255,255,255,.9)

card_shadow = 0 2px 2px rgba(0, 0, 0, .2)

font_family = "Helvetica Neue", arial, sans-serif

* 
	box-sizing:border-box



body
	font-family: font_family
	font-weight:100
	letter-spacing:1px
	image:"../img/bg.png"
a
	cursor:pointer

input
	appearance:none
	outline:none

select
	font-family: font_family
	position:relative
	outline:none
	appearance:none
	border:none
	height:30px
	line-height:30px
	font-size:16px
	border-radius:0px
	padding:0px 26px 0px 12px	
	color:#bac0cb	
	background : #ffffff no-repeat right 8px center
	image:"../img/arrow.png"
	letter-spacing:2px
	box-shadow:card_shadow
	font-weight:100

.info-box
	display:inline-block
	height:30px
	line-height:30px
	font-size:16px
	padding:0px 12px
	background-color:#ffffff
	color:#bac0cb
	letter-spacing:2px
	box-shadow:card_shadow

table
	background-color:#ffffff
	padding 0px
	font-size:14px
	tr
		height:40px
		&:nth-child(odd)
			background-color:#f0f1f5
		&:nth-child(even)
			background-color:#e9eaee
		th
			border-top:1px solid #d0d7dd
			border-bottom:1px solid #d0d7dd
			color:#919bad
			padding:0px 20px
		td
			font-weight:300
			border-bottom:1px solid #d0d7dd
			color:#777777
			padding:0px 20px

.color-red
	color:red

.color-blue
	color:blue

.color-yello
	color:yello

.color-green
	color:green

.hide
	display:none

$icon
	position:absolute
	content:""
	width:26px
	height:26px

.icon-like
	&:before
		@extends $icon
		image:"../img/icon-like.png"

.icon-home
	&:before
		@extends $icon
		image:"../img/icon-home.png"

.icon-issue
	&:before
		@extends $icon
		image:"../img/icon-issue.png"

.nav
	width:100%
	height:nav_height
	box-shadow:nav_shadow 
	position:relative
	z-index:100
	.bg
		position:absolute
		width:100%
		height:nav_height
		z-index:10
	.overlay
		position:absolute
		width:100%
		height:nav_height
		z-index:20
		padding-right:283px
		.main-panel
			background-color:nav_bg
			height:nav_height
			.home
				margin-left:5px
				float:left
				width:nav_height
				height:nav_height
				position:relative
				cursor:pointer
				image:'../img/logo.png'
				&:hover
					image:'../img/logo-hover.png'
			.search-box
				position:relative
				float:right
				padding:10px 20px 10px 0px
				input[type=text] 
					height:40px
					background-color:#ffffff
					border:none
					border-radius:20px
					width:300px
					padding:0px 36px 0px 36px
					font-size:18px
					color:#a8a8a8

				&:before
					content:""
					position: absolute
					image:'../img/icon-search.png'
					width:26px
					height:26px
					top:17px
					left:8px
				.icon-close
					position: absolute
					image:'../img/icon-close.png'
					width:26px
					height:26px
					top:17px
					right:28px
		.util-panel
			position:absolute
			right:0px
			top:0px
			.doc
				background-color:nav_bg
				height:nav_height
				margin-left:1px
				width:nav_height
				float:left
				&:before
					content:""
					image:"../img/doc.png"
					width:26px
					height:26px
					position:absolute
					top:18px
					left:18px
			.get-started
				margin-left:1px
				line-height:nav_height
				text-align:center
				width:160px
				font-size:16px
				color:#ffffff
				float:left
				background-color:green
			.user
				margin-left:1px
				float:right
				height:nav_height
				width:nav_height
				img.avatar
					width:100%
					height:100%
			.login
				margin-left:1px
				float:right
				height:nav_height
				width:nav_height
				background-color:#222222
	.dropdown
		position:absolute
		right:0px
		top:nav_height
		color:#646464
		padding:5px
		a
			float:right
			position:relative
			display:block
			box-sizing:content-box
			font-size:13px
			font-weight:300
			width:150px
			line-height:40px
			padding:0px 20px
			margin-bottom:5px
			background-color:#313131
			height:40px
			&:hover
				border-left:5px solid green 
				background-color:#232323

@media (min-width: 0px)
	.nav
		.overlay
			padding-right:0px
			.util-panel
				display:none
		
@media (min-width: 700px)
	.nav
		.overlay
			padding-right:283px
			.util-panel
				display:block