.form
  .form-control
    display: block
    margin-bottom: 10px
    padding: 12px 10px
    zoom: 1
    border-radius: 5px
    border: 1px solid #ccc
    width: 100%
    box-sizing: border-box
    font-size: 16px
    font-weight: 100


form-button(color, bg, hbg, border) 
  background-image: linear-gradient(bg, bg)
  color: color
  border: 1px solid border
  cursor: pointer
  font-weight: 200
  text-align:center
  &:hover
    background-image: linear-gradient(hbg, hbg)