include ./mixin/component

extends layout/default.jade


block head  
  title cortex
  +css('./css/error.css')

block content  
  +nav()
  section.container
      .status-code #{statusCode}
      .message #{error}
