include ./mixin/component

extends layout/default.jade


block head  
  title Cortex
  +css('/css/error.css')

block content
  +nav(user)
  section.container
      .status-code #{statusCode}
      .message #{error}
      
  script.
    facade({
      entry: 'cortexjs-www/entries/index.js'
    });