include ./mixin/component

extends layout/default.jade

block head  
	title Get Started
	+css("/css/getstarted.css")
	+css("/css/lib/readme.css")

block content  
	+nav(user)
	section.container
		.main
			.markdown !{content}
		.aside
			.anchor preparation
			.anchor Initialize the project
			.anchor Install dependencies
			.anchor Write code
			.anchor Build project
			.anchor Run the code
	script.
		facade({
			mod: 'cortexjs-www/entries/getstarted'
		});


