include ./mixin/component

extends layout/default.jade

block head  
	title cortex
	+css("./css/index.css")

block content  
	.banner
		img.logo-large(src="./img/logo-large.png")
		.slogan The package cloud for browsers, connecting creative people
	.main-content
		.info-panel
			.head TITLE
			.body
				table
					tr
						td async
						td ~0.2.9
					tr
						td async
						td ~0.2.9
					tr
						td async
						td ~0.2.9
		.info-panel
			.head TITLE
			.body
				table
					tr
						td async
						td ~0.2.9
					tr
						td async
						td ~0.2.9
					tr
						td async
						td ~0.2.9
		.info-panel
			.head TITLE
			.body
				table
					tr
						td async
						td ~0.2.9
					tr
						td async
						td ~0.2.9
					tr
						td async
						td ~0.2.9






