include ./mixin/component

extends layout/default.jade

block head  
  title cortex
  +css('/css/login.css')

block content  
  +nav(user)

  section.container
    form(method="POST", action="login-directly")
      input(name="name", placeholder="Username")
      input(name="password", type="password", placeholder="Password")
      button(type="submit") Login

    a(href="/auth/github") Login/Signup with Github
