include ./mixin/component

extends layout/default.jade

block head  
  title cortex
  +css('/css/login.css')

block content  
  +nav()
  section.container
    if message
      .message #{message}
    else
      .message LOGIN
    .login
      form(method="POST", action="/login-directly")
        .row
          input.name(name="username", placeholder="Username")
        .row
          input.pass(name="password", type="password", placeholder="Password")
        .row
          button.signin(type="submit") Sigin
          button.reset(type="reset") Reset
        .row.github
          a(href="/auth/github") Signin/Signup with Github
