include ./mixin/component

extends layout/default.jade

block head  
	title cortex
	+css("./css/package.css")

block content  
	section.container
		.top-area
			span.info commonjs-walker
			select.versions
				option 1.1.2
				option 1.2.3
			span.info-box MIT
		.detail
			.row
				.col
					+package-stat
					+command("install","npm install commonjs-walker --save")
					+maintainers()
				.col
					.dependency-info.card
						.tabs
							a.tab.active DEPENDENCIES
							a.tab DEV
							a.tab DEPENDENTS
						.content
							table
								tr
									th FULL NAME
									th REQUIREMENT
									th LATEST
								tr
									td async
									td ~0.2.9
									td 1.2.0
								tr
									td async
									td ~0.2.9
									td 1.2.0
								tr
									td async
									td ~0.2.9
									td 1.2.0
								tr
									td async
									td ~0.2.9
									td 1.2.0
								tr
									td async
									td ~0.2.9
									td 1.2.0
								tr
									td async
									td ~0.2.9
									td 1.2.0

			.row
				section.readme.card
					.title README
					.content hahaha


