include ./mixin/component

extends layout/default.jade

block head  
	title cortex
	+css("./css/search.css")

block content  
	+nav(user)
	section.container
		.top-area
			span.info #{result.length} pacakges about
				b  #{keyword}
		.packages
			each pkg in result
				+package-info(pkg)


