include ./mixin/component

extends layout/default.jade

block head  
	title cortex
	+css("/css/user.css")

block content  
	+nav(user)
	section.container
		.user-area
			+user(profile, pkgs)
			+user-info(profile)
			if profile.gPass
				+command("login","cortex adduser --username #{profile.name} --password #{profile.gPass} --email #{profile.email}")

		.packages
			each pkg in pkgs
				+package-info-no-avatar(pkg)
	script.
		facade({
			mod: 'cortexjs-www/entries/search'
		});
