include ../mixin/static

html 
  head
    block head
    +js('/neurons/neuron/6.1.1/neuron.js')
    +js('/neurons/config.js')
    +css('http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400')
    script.
      neuron.config({
        path: '/neurons'
      });
  body
    block content
    .footer
      span.item &copy; 2014 Cortex
      a.item.github(href="https://github.com/cortexjs/cortex")
      a.item.pull-right(href="http://blog.ctx.io") Blog
      a.item.pull-right(href="http://book.ctx.io") Doc

