include ../mixin/static

html(ng-app="app")  
	head
		block head

	body(ng-controller="Controller")
		.nav
			.bg
			.overlay
				.main-panel
					a.home
					.search-box
						input(type="text")
						i.icon-close
				.util-panel
					a.doc
					a.get-started GET STARTED
					a.user.login
						img.avatar(src="./img/avatar.jpg")
			ul.dropdown
				li 
					a MY BIA CARD
				li
					a SETTINGS
				li
					a LOG OUT

		block content