include ../mixin/static

html 
  head
    block head
    +js('/neurons/neuron/6.1.1/neuron.js')
    +js('/neurons/config.js')
    script.
      neuron.config({
        path: '/neurons'
      });
  body
    block content

